body{
    font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-card{
    position: relative;
    right: -100px;
    z-index: 1;
    width: 31rem;
    min-height: 90vh;
}
.sidebar{
    background: #2f82d8;
    width: 15rem;
}

.bg-img{
    min-height: 100vh;
}
.main-contain{
    display: flex;
}
.form-label{
    font-weight: bold;
}
.form-select{
    width: 100%;
    height: 25px;
}
.form-calc-btn{
    background: #2f82d8;
}
.form-loan-amt{
    color: #2f82d8;
}
@media only screen and (max-width: 768px){
    .main-contain{
       flex-direction: column-reverse;
    }
    .sidebar{
        background: white;
        width: 100%;
    }
    .custom-card{
        position: absolute;
        right: auto;
        bottom: -100px;
        width: 90%;
        margin-left: 5%;
        min-height: auto;
    }
    .bg-img{
        min-height: 580px;
        object-fit: cover;
    }
}
